- string_documentation : https://docs.python.org/2/library/string.html

In [8]:
# Forward direction index starts from 0:
# backward direction index starts with -1 

a = 'datascience'

In [4]:
print(a[8])

n

In [5]:
print(a[4])

s

In [7]:
b = 'I am fine'
print(b[2])

a

In [9]:
c = 'python'

# in forward dir:
print(c[3])

h

In [10]:
# backward direction:
print(c[-3])

h

### slicing operations on strings with index concepts:

In [12]:
a = 'python'
print(a[1 : 5])

ytho

In [16]:
a = 'data science'
print(a[2 : 7])

ta sc

In [19]:
a = 'data science'
print(a[-6 : -3])

cie

In [20]:
a[0]

'd'

In [21]:
a[-12]

'd'

In [23]:
# python slicing and skipping concept:
a = 'python'
a[1:6:2]

'yhn'

In [24]:
a = 'data science'
print(a[1:11:2])

aasin

In [25]:
# Using slicing concept there are few fixed techniques:

In [26]:
a = 'rajinikanth'

print(a[:])   # : -> means return entire string as it is:

rajinikanth

In [27]:
print(a[2 : ])  # means from 2nd index position to entire string

jinikanth

In [28]:
print(a[:10])  # means there is destination but there is no starting point so its starts from zero:

rajinikant

In [29]:
print(a[::-1]) # from staring position to ending position pls reverse everything 

# : -> starting 
# : -> ending 
# -1 -> reverse

htnakinijar

In [31]:
a = 'Python is very powerfull'
print(a[::-1])

llufrewop yrev si nohtyP

In [32]:
print(a[::1])

Python is very powerfull

In [33]:
a = 'artificial intelligence'
print(a[3:21:3])

iclnlg

In [36]:
a = 'python'
print(a[2:5:2])

to

In [37]:
# Each data structure has there own methods:

In [38]:
### string concept and method:

# string is immutable : we cannnot change memory space:

In [39]:

mystring = 'python java'
print(mystring)

python java

In [40]:
# I want to add a character : I want to increase the memory space : is if possible:

# shift + enter to check complete info about python predefined methods:
# tab will show you about variables

In [44]:
# adding new char to string ?

mystring[11] = 'M'

TypeError: 'str' object does not support item assignment

In [45]:
# inserting is possible ?
mystring[4] = 'K'

TypeError: 'str' object does not support item assignment

In [47]:
# deleting is pobbile ?

del mystring[5]

TypeError: 'str' object doesn't support item deletion

In [50]:
# We can replace char in string within memory space:
# using python string replace method:

mystring.replace('h' , 'K')  # we are changing but not saving

'pytKon java'

In [51]:
print(mystring)

python java

In [52]:
a = 'python'
print(a)

python

In [56]:
a = a.replace('t', 'k')

In [57]:
print(a)

pykhon

#### string methods

In [58]:
# replace:

a = 'I am working in ZestIot as Module lead'   # 3 a's
a.replace('a' , '$')

'I $m working in ZestIot $s Module le$d'

In [64]:
a = 'I am working in ZestIot as Module lead'   # 3 a's
a.replace('a' , '$' , 2)

'I $m working in ZestIot $s Module lead'

In [65]:
# capitalize: starting letter will be capitalized:

a = 'datascience'
a.capitalize()

'Datascience'

In [67]:
a = 'i am working in ZestIot as Module lead'
a.capitalize()

'I am working in zestiot as module lead'

In [68]:
# count: it is going to count the number of times appereces 

a = 'i am working in ZestIot as Module lead'
a.count('a')

3

In [69]:
a = 'i am working in ZestIot as Module lead am'
a.count('am')

2

In [70]:
# startswith and endswith will give us boolean values : True or False:

a = 'i am working in ZestIot as Module lead'
a.startswith('I')

False

In [71]:
a = 'i am working in ZestIot as Module lead'
a.endswith('d')

True

In [83]:
# index : will tell us the index value of a character:

a = 'I am staying in s usa in NewYork'
a.index('s' , 10, 19)

16

In [84]:
# lower and upper 
# lower means capital to small letter 
# upper means small letter to capital

a = 'I am staying in usa in NewYork'
a.lower()

'i am staying in usa in newyork'

In [85]:
a = 'I am staying in usa in NewYork'
a.upper()

'I AM STAYING IN USA IN NEWYORK'

In [86]:
# isupper and islower 
# they return bollean values if they satisfy:

# checking wether each char is lower letter or not:

a = 'I am staying in usa in NewYork'
a.islower()

False

In [87]:
a = 'I am staying in usa in NewYork'
a.isupper()

False

In [88]:
# isaplha , isdecimal and isdigit , isalphanum,isnumerical:



# alnum = alphanumnerical [Numbers and charachter]

a = 'kamal123'
a.isalnum()

True

In [89]:
# isalpha : checks everthing is alphabets or not:

a.isalpha()

False

In [90]:
# isdecimal : checks everthing is numbers or not:
a.isdecimal()

False

In [91]:
a.isdigit()

False

In [93]:
a = 'eatworksleep'
a.isalpha()

True

In [94]:
# split and join method will dicuss after completing list:

In [96]:
# title : each word starting letter will be converted into captial :
a = 'i am working in ZestIot as Module lead'
a.title()

'I Am Working In Zestiot As Module Lead'

# List In Python

- List is mutable [we can change the memory space]
- List has it own methods : Each type has its own methods: 
- List will be represented with []
- List can accept any data type:

In [2]:
a = [10 , 20 , 30 , 50.5 , 'python']
print(a)

[10, 20, 30, 50.5, 'python']

In [6]:
print(a[4][4])

o

In [3]:
print(a[3])

50.5

In [4]:
print(a[4])

python

In [102]:
a[4][3]

'h'

In [105]:
print(a[-1][1])

y

In [111]:
print(a[-1][-5])

y

In [106]:
# reverse 
print(a[:])

[10, 20, 30, 50.5, 'python']

In [107]:
print(a[::-1])

['python', 50.5, 30, 20, 10]

In [108]:
print(a[2:])

[30, 50.5, 'python']

In [109]:
print(a[:4])

[10, 20, 30, 50.5]

In [7]:
# we need to prove that list is mutable:
# not only list any topic if we want to prove it is a mutable we need to come accross 3 types:

                # check adding memory space :
                # check replace in the same memory space 
                # check delete memory space:

In [8]:
# Add some extra memory space:

a = [10 , 20.2 , 'Data science']
# for adding an extra space at the end of the list we can use method called append 
# append is going to increase the memory space at the right end:

In [9]:
# append 

a.append(200)

In [10]:
print(a)

[10, 20.2, 'Data science', 200]

In [11]:
a.append(200)

In [12]:
print(a)

[10, 20.2, 'Data science', 200, 200]

In [13]:
a.append('python')

In [14]:
print(a)

[10, 20.2, 'Data science', 200, 200, 'python']

In [21]:
# how to replace where ever we want:
a = [10 , 20.2 , 'data science']
print(a)

[10, 20.2, 'data science']

In [22]:
# if we want to fill values where ever we want : use insert method:
a.insert(2 , 'python')

In [23]:
print(a)

[10, 20.2, 'python', 'data science']

In [24]:
a[3]

'data science'

In [25]:
# replace

a[3] = 'Artificial intelligence'

In [26]:
print(a)

[10, 20.2, 'python', 'Artificial intelligence']

In [27]:
# delete memory space:
a = [10,20,30.5,'python']

del a[3]

In [28]:
print(a)

[10, 20, 30.5]

In [29]:
## finally list is mutable : can change its behaviour:

### methods in list:

In [30]:
a = [100,200,300.56,'raja','priya']
print(a)

[100, 200, 300.56, 'raja', 'priya']

In [31]:
a.clear()  # it removes entire values in a list and make variable as empty: but clear cant delete variable

In [32]:
print(a)

[]

In [33]:
# delete
a = [100,200,300.56,'raja','priya']
del a
print(a)

NameError: name 'a' is not defined

In [39]:
a = [100,200,300.56,'raja','priya']

In [40]:
# copy:

b = a.copy()

print(a)
print(b)

[100, 200, 300.56, 'raja', 'priya']
[100, 200, 300.56, 'raja', 'priya']

In [37]:
# count:

a.count(100)

1

In [38]:
a = [100,200,300.56,'raja','priya',200]
a.count(200)

2

In [41]:
# extend

# extend is going to add another list at the end 

a = [100,200,300.56,'raja','priya',200]

a.extend([1,2,3,4])

print(a)

[100, 200, 300.56, 'raja', 'priya', 200, 1, 2, 3, 4]

In [44]:
# index : used to find the index of value what we have given:

a = [100,200,300.56,'raja','priya',200]
a.index('raja')

3

In [45]:
a.index(200)

1

In [46]:
a.index(200,3,6)

5

In [47]:
# pop : used to remove the last memory space : and we can also remove memory space where ever we want:

a = [100,200,300.56,'raja','priya',200]
a.pop()

200

In [48]:
print(a)

[100, 200, 300.56, 'raja', 'priya']

In [50]:
# remove where ever we want:using index 


a.pop(3)

'raja'

In [51]:
print(a)

[100, 200, 300.56, 'priya']

In [52]:
# del 
a = [10,20,30.4]
del a[2]
print(a)

[10, 20]

In [53]:
# pop
a = [10,20,30.4]
a.pop()
print(a)

[10, 20]

In [54]:
# remove : doesn't take index it will take directly the value:

a = [10,20,30.4]

a.remove(30.4)

print(a)

[10, 20]

In [60]:
# reverse:
a = [100,200,300.56,'raja','priya',200]
a.reverse()
print(a)

[200, 'priya', 'raja', 300.56, 200, 100]

In [59]:
a = [100,200,300.56,'raja','priya',200]
a[::-1]

[200, 'priya', 'raja', 300.56, 200, 100]

In [61]:
# sort: simple make them in ascending order or descending order 

# asceding order : small to big 
# descendiing order : big to small 


# sort method will help us in doing this 
# () -> paranethesis 

a = [10,9,4,2,17,5,44,98,0]
#  make values in ascending order 
a.sort()  # default it will be ascending order 

print(a)

[0, 2, 4, 5, 9, 10, 17, 44, 98]

In [62]:
# But i want in descending order:

a = [10,9,4,2,17,5,44,98,0]

a.sort(reverse=True)  # for descending use parameter in parentesis

print(a)

[98, 44, 17, 10, 9, 5, 4, 2, 0]

In [64]:
a = ['a' , 'b' , 'g' , 'e']
a.sort()
print(a)

['a', 'b', 'e', 'g']

In [65]:
a = ['all','below','zebra','cat']
a.sort()
print(a)

['all', 'below', 'cat', 'zebra']

In [66]:
a = ['kamal']
a.sort()
print(a)

['kamal']

In [68]:
a = ['55all','66below123','11zebra1223','00cat555']
a.sort()
print(a)

['00cat555', '11zebra1223', '55all', '66below123']

In [70]:
# math operation in strings
# split function in strings 
# join function in strings 
# membership funtion in strings and list 
# len , sum , max , min

### math operation in strings

In [72]:
10 > 9

True

Ascii : American stanndard code of international interchange

In [71]:
value1 = 'ab'
value2 = 'AB'
print(value1 > value2)

True

In [79]:
# if you dont belive me:

chr(65)  # chr converts number to its character

'A'

In [82]:
ord('a')  # ord converts character ti ascci number

97

In [83]:
# Membership function: its a boolean outcome

In [88]:
a = [10,20,30.5,'python']

print(10 in a)
print(100 in a)
print('python' in a)
print(20 not in a)

True
False
True
False

In [90]:
# len , sum , max , min in stings:

a = 'python java'

# len = will give you the number of characters 

print(len(a))

11

In [93]:
a = 'abc'

# sum = add each ascii value 

print(min(a))

a

In [95]:
# list:
a = [10,20,300.5,70]
print(len(a))

4

In [96]:
print(sum(a))

400.5

In [97]:
print(max(a))

300.5

In [98]:
print(min(a))

10

## split function:

In [105]:
# breaking into pieces 

a = 'I worked in microsoft for 1.5 years'
b = a.split()  # break them into pieces default it will select as space 
# once using the split output will be in the form of list 
print(b)

['I', 'worked', 'in', 'microsoft', 'for', '1.5', 'years']

In [104]:
a = 'I worked in microsoft for 1.5,years'
b = a.split(',')  # we can specify our own split are 
print(b)

['I worked in microsoft for 1.5', 'years']

In [112]:
c = 'My name is kamal and my age is'
d = c.split()
print(d)

['My', 'name', 'is', 'kamal', 'and', 'my', 'age', 'is']

In [113]:
d.append(str(25))
print(d)

['My', 'name', 'is', 'kamal', 'and', 'my', 'age', 'is', '25']

In [117]:
# join function is used to join each word:


sol = ' '.join(d)
print(sol)

My name is kamal and my age is 25

In [118]:
a = ['I' , 'am' , 'from' , 'india']
# if there is a list and inside the list there is a strings and if you want to add then use join

sol = ' '.join(a)
print(sol)

I am from india

In [123]:
## question : capgemini interview question

value = 'I.love.programming.language'
b = value.split('.')
c = b[::-1]
d = '.'.join(c)
print(d)

language.programming.love.I

In [124]:
# end od strings and list: